<html>
    <head>
        <title>Try It On</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Marmot</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Marmot's first post</a></h2>
            <p>Marmot says Кукуся;)</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Marmot's second post</a></h2>
            <p>Marmot says he's an animal, not a brand</p>
        </div>
    </body>
</html>
